<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Node.js y Express en Vercel</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1>Backend con Node.js en Vercel</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <section class="hero">
                <h2>¡Bienvenido a mi aplicación!</h2>
                <p>Este es un ejemplo de cómo desplegar una aplicación de backend con <span class="highlight">Node.js</span> y <span class="highlight">Express</span> en Vercel.</p>
                <a href="#" class="cta-button">Explorar más</a>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Proyecto Backend en Vercel | WJpe</p>
        </div>
    </footer>
</body>
</html>
